/*
body::-webkit-scrollbar{
    width:10px;
    background-color:#eee
}
body::-webkit-scrollbar-track{
    background-color:#f5f5f5;
    border-left:1px solid #eee
}
body::-webkit-scrollbar-thumb{
    background-color:#ddd;
    border-radius:0
}
body::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:hover{
    background-color:#bbb
}
*/

.resume{
    font-family: 'Julius Sans One', sans-serif;
}

button,hr,input{
    overflow:visible
}

progress,sub,sup{
    vertical-align:baseline
}

a,html{
    color:#000}

.arrow,.logo,.logo.outline a,.title{
    -webkit-tap-highlight-color:transparent}

html{
    line-height:1.15;
    -webkit-text-size-adjust:100%
}

body{
    margin:0}

h1{
    font-size:2em;
    margin-top: .1em;
margin-bottom: auto;}

hr{
    box-sizing:content-box;
    height:0}

code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-family: 'Julius Sans One', sans-serif;
    font-size:1em}

a{background-color:transparent;outline:0;text-decoration:none}

abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted}

b,strong{
    font-weight:bolder}

small{font-size:80%}

sub,sup{font-size:75%;
    line-height:0;position:relative}

sub{bottom:-.25em}
sup{top:-.5em}
img{border-style:none}

button,input,optgroup,select,textarea{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;margin:0}

button,select{text-transform:none}

[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring{outline:ButtonText dotted 1px}
fieldset{padding:.35em .75em .625em}
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal}

textarea{
    overflow:auto
}

[type=checkbox],[type=radio]{
    box-sizing:border-box;padding:0}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details{display:block}
summary{display:list-item}
[hidden],template{display:none}

html{
    font:.8em/1.4 "Yoko Mono",Courier,monospace;
    overflow-x:scroll;
    overflow-y: scroll;
    height:auto;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased}

img,svg,video{vertical-align:middle}

ul{padding:0;list-style:none}
img,video{max-width:100%;height:auto}
button,input{
    font-family:"Yoko Mono",Courier,monospace;
    white-space:nowrap;
    background:0 0;
    border:none;
    border-radius:0;
    outline:0;
    -webkit-appearance:none;
    -moz-appearance:none;appearance:none}

#hello span,[data-filter],button{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none}

.visuallyhidden{
    border:0;
    clip:rect(0 0 0 0);
    -webkit-clip-path:inset(50%);
    clip-path:inset(50%);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
    white-space:nowrap}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{
    clip:auto;
    -webkit-clip-path:none;
    clip-path:none;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto;
    white-space:inherit}

.browserupgrade{
    margin:0;
    color:#bbb;
    text-align:center;
    z-index:100;
    padding:.4em;
    position:fixed;
    top:0;
    right:2em}

.browserupgrade a{
    color:#999;
    text-decoration:underline}

.logo.outline [data-text]:after,[data-text]{
    color:transparent}


#about h2,#about header,#about>p,#description,#error article,#hello,.project-header p,[data-text]:after,h3{
    font-family:Jimi,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500}

.logo,.title{
/*    background-color:#FFD605;*/
    font-family:"Jimi Outline","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:500;
}

#presentation p{
    font-family:Jimi,"Helvetica Neue",Helvetica,Arial,sans-serif}

/*
@font-face{
    font-family:Jimi;
    src:url(../fonts/jimi-regular.woff2) format('woff2'),url(../fonts/jimi-regular.woff) format('woff');
    font-weight:400;
    font-style:normal}

@font-face{
    font-family:Jimi;
    src:url(../fonts/jimi-bold.woff2) format('woff2'),url(../fonts/jimi-bold.woff) format('woff');
    font-weight:700;
    font-style:normal}

@font-face{
    font-family:Jimi;
    src:url(../fonts/jimi-bold-italic.woff2) format('woff2'),url(../fonts/jimi-bold-italic.woff) format('woff');
    font-weight:700;
    font-style:italic}

@font-face{
    font-family:'Jimi Outline';
    src:url(../fonts/jimi-bold-outline.woff2) format('woff2'),url(../fonts/jimi-bold-outline.woff) format('woff');
    font-weight:700;font-style:normal}

@font-face{
    font-family:'Yoko Mono';
    src:url(../fonts/yoko-mono.woff2) format('woff2'),url(../fonts/yoko-mono.woff) format('woff');
    font-weight:400;
    font-style:normal}
*/

@-webkit-keyframes pulse{
    from{
        background-color:#fff}
    to{background-color:#bbb}}

@keyframes pulse{
    from{background-color:#fff}
    to{background-color:#bbb}}

@-webkit-keyframes fadeIn{
    from{opacity:0} to {opacity:1}
}

@keyframes fadeIn{
    from{opacity:0} t o{opacity:1}
}

@-webkit-keyframes fadeInRight{
    from{
        opacity:0;
        -webkit-transform:translateX(4em)} 
    to{opacity:1;
            -webkit-transform:none}
}

@keyframes fadeInRight{
    from{
        opacity:0;
        transform:translateX(4em)}
    to{opacity:1;transform:none}
}

@-webkit-keyframes fadeInLeft{
    from{opacity:0;
        -webkit-transform:translateX(-2em)}
    to{opacity:1;
        -webkit-transform:none}
}

@keyframes fadeInLeft{
    from{opacity:0;
        transform:translateX(-2em)}
    to{opacity:1;transform:none}}

@-webkit-keyframes arrowSlide{
    from{
        opacity:0;
        -webkit-transform:translateY(-.1em)}
    to{opacity:1;
        -webkit-transform:none}
}

@keyframes arrowSlide{
    from{opacity:0;transform:translateY(-.1em)}
    to{opacity:1;transform:none}}

@-webkit-keyframes fadeInUp{
    from{opacity:0;-webkit-transform:translateY(20px)}
    to{opacity:1;-webkit-transform:none}}

@keyframes fadeInUp{
    from{opacity:0;transform:translateY(20px)}
    to{opacity:1;transform:none}}

@-webkit-keyframes bounce{
    20%,53%,80%,from,to{
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
    animation-timing-function:cubic-bezier(.215,.61,.355,1);
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)}40%,43%{
            -webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);
            animation-timing-function:cubic-bezier(.755,.05,.855,.06);
            -webkit-transform:translate3d(0,-30px,0);
            transform:translate3d(0,-30px,0)}70%{
                -webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);
                animation-timing-function:cubic-bezier(.755,.05,.855,.06);
                -webkit-transform:translate3d(0,-15px,0);
                transform:translate3d(0,-15px,0)}90%{
                    -webkit-transform:translate3d(0,-4px,0);
                    transform:translate3d(0,-4px,0)}
}

@keyframes bounce{
    20%,53%,80%,from,to{
        -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
        animation-timing-function:cubic-bezier(.215,.61,.355,1);
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)}40%,43%{
            -webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);
            animation-timing-function:cubic-bezier(.755,.05,.855,.06);
            -webkit-transform:translate3d(0,-30px,0);
            transform:translate3d(0,-30px,0)}70%{
                -webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);
                animation-timing-function:cubic-bezier(.755,.05,.855,.06);
                -webkit-transform:translate3d(0,-15px,0);
                transform:translate3d(0,-15px,0)}90%{
                    -webkit-transform:translate3d(0,-4px,0);
                    transform:translate3d(0,-4px,0)}
}

.site #clients,.site #description,.site #feats,.site #hello,.site #presentation,.site #project-description,.site #skills,.site .clicked .thumb,.site .grid .project:not(.clicked) .thumb,.site .infoToggle,.site .slider,.site aside,.site footer,.site h1.logo span:after,.site p.logo [data-text]:before,.site.noSlide .logo.outline span:after,h1.title,h2.title span:after{
    animation-duration:.3s;
    -webkit-animation-duration:.3s;
    transition-timing-function:ease-in;
    -webkit-transition-timing-function:ease-in;
    animation-fill-mode:both;
    -webkit-animation-fill-mode:both}

.is-exiting h1.title,.site.is-exiting #clients,.site.is-exiting #description,.site.is-exiting #feats,.site.is-exiting #hello,.site.is-exiting #hello span,.site.is-exiting #presentation,.site.is-exiting #project-description,.site.is-exiting #skills,.site.is-exiting .grid .project .thumb,.site.is-exiting .infoToggle,.site.is-exiting .slider,.site.is-exiting aside,.site.is-exiting footer,.site.is-exiting h1.logo span:after,.site.is-exiting p.logo [data-text]:before{
    animation-direction:alternate-reverse;
    -webkit-animation-direction:alternate-reverse}

.transitions .is-exiting h1.title,.transitions .is-exiting h2.title span:after,.transitions .site #description,.transitions .site .clicked .thumb,.transitions .site .grid .project:not(.clicked) .thumb,.transitions .site .infoToggle,.transitions .site .slider,.transitions .site aside,.transitions .site footer,.transitions .site.is-exiting .logo span:after,.transitions .site.noSlide .clicked .thumb,.transitions .site.noSlide .slider{
    animation-name:fadeIn;-webkit-animation-name:fadeIn}

.transitions .site .clicked .thumb{
    animation-name:fadeInLeft;
    -webkit-animation-name:fadeInLeft}

.transitions .site .slider{
    animation-name:fadeInRight;
    -webkit-animation-name:fadeInRight}

.site #clients,.site #feats,.site #hello,.site #presentation,.site #skills{
    animation-name:fadeInUp;
    -webkit-animation-name:fadeInUp
}

.site #presentation{
    animation-delay:.1s;
    -webkit-animation-delay:.1s}

.site #skills{
    animation-delay:.2s;
    -webkit-animation-delay:.2s}

.site #clients{
    animation-delay:.3s;
    -webkit-animation-delay:.3s}

.site #feats{
    animation-delay:.4s;
    -webkit-animation-delay:.4s}

.site.is-exiting #clients,.site.is-exiting #feats,.site.is-exiting #hello,.site.is-exiting #presentation,.site.is-exiting #skills{
    animation-delay:0s;
    -webkit-animation-delay:0s}

.site.noSlide h1.logo span:after{
    animation-name:none;
    -webkit-animation-name:none}

.is-exiting h2.title span:after,.site.noSlide .logo.outline span:after{visibility:visible}

#project-description,.project-header{
    position:fixed;
    left:5em;
    visibility:hidden;
    bottom:0}

.site p.logo [data-text]:before{
    animation-name:arrowSlide;
    -webkit-animation-name:arrowSlide}


/*header*/

#header{
    position:fixed;
    width:5.4em;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:1.7em;
    left:0;
    top:0;
    bottom:0;
    z-index:2}


.project-header{
    z-index:3;
    top:0;
    width:calc(100% - 5em);
    padding:0}

#project-description{
    background-color:#fff;
    padding:2em 1.7em 2em .3em;
    right:0;
    opacity:0;
    transition:visibility 0s .15s,all .15s ease;
    -webkit-transform:translateY(1em);
    -ms-transform:translateY(1em);
    transform:translateY(1em)}

#project-description a{
    position:relative;
    white-space:nowrap}

.toggled #project-description{
    opacity:1;
    visibility:visible;
    transition:visibility 0s,all .15s ease;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)}


.title{
    font-size:1.5em;
    text-align:left;
    margin:0;
    position:fixed;
    line-height:1em;}

.title{
    top:8em;
    left:12.5em;
/*
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
*/
    -webkit-transform-origin:top right;
    -ms-transform-origin:top right;
    transform-origin:top right;
}

/*
.logo.outline [data-text]{width:1em}[data-text]{
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
    -webkit-transform-origin:top right;
    -ms-transform-origin:top right;
    transform-origin:top right}
*/

[data-text]:after{
    content:attr(data-text);
    color:#000}

.infoToggle.active,h1.title [data-text]{
    color:#fff}

[data-text],[data-text]:after{
    position:absolute;
    right:2em;
    top:0em;
    white-space:nowrap}

.title [data-text],.title [data-text]:after{
    
    border-radius: 1em;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:calc(100vh - 8.5em);
    line-height:1.2em}

h1.title.invisible,h2.title,h2.title [data-text]:after{opacity:0;visibility:hidden}

.project-header h2.title,h1.title{opacity:1;visibility:visible}

.project-header h2.title{transition:all .5s ease}

p.logo [data-text]:before{
    content:'';
    position:absolute;
    overflow:hidden;
    width:1em;
    height:1em;
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 36' style='fill: none; stroke: %23000; stroke-width: 1px;'%3E%3Cpath d='M11 6.3l-5-5-5 5m5-4.9v34' /%3E%3C/svg%3E") 
        center .08em no-repeat;
    margin-left:.32em;
    transition:all .3s ease-in-out}

.logo [data-text]:hover:before{background-position:center .01em}

.logo.about [data-text]:before{display:none}


#landing{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    cursor:default;
    opacity:0;
    visibility:hidden;
    transition:visibility 0s .3s,all .3s ease-in;
    -webkit-transform:translateX(-5em);
    -ms-transform:translateX(-5em);
    transform:translateX(-5em)}

#hello span,#landing.visible,.arrow,.infoToggle,.readmore,[data-filter]{cursor:pointer}

#landing.visible{
    opacity:1;
    visibility:visible;
    transition:visibility 0s,all 0s ease-in;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)}

#landing.visible~#site #description,#landing.visible~#site #index,#landing.visible~#site #links{
    opacity:0;
    visibility:hidden;
    transition:none}

#landing.visible~#site #header{
    width:0;height:0;padding:0}#landing .slideshow{margin:0}

#landing .slideshow:before{
    display:block;
    position:absolute;
    content:'';
    top:0;
    bottom:0;
    left:0;
    z-index:101;
    opacity:.1;
    background:#fff;
    width:100%}

.banner{
    position:absolute;
    width:100%;
    height:100%;
    background:center center no-repeat fixed;
    background-size:cover;
    -webkit-background-size:cover;
    opacity:0;
    transition:all .5s ease}

.banner.visible{opacity:1}

#landing.visible+#site #description,#landing.visible+#site #links,#landing.visible+#site main{opacity:0}

#description,#links,main{opacity:1;transition:opacity .6s ease}
#description,#description span.shorten{display:none}
[data-filter]{
    position:relative;
    padding:.25em 0;
    transition:color .3s ease}

[data-filter].inactive:after{bottom:1.1em; }
[data-filter].inactive:hover:after{bottom:.2em}


#description,.project-header p{letter-spacing:.01em}


.moretext{
    opacity:0;
    max-height:0;
    overflow:hidden;
    visibility:hidden;
    transition:all .3s ease-out}

.moretext.visible{
    opacity:1;
    max-height:20em;
    visibility:visible;
    transition:all .4s ease-in-out}

.readmore{
    padding:.5em 0;
    margin-bottom:1em;
    line-height:.8em;
    position:relative}

#links{
    margin-bottom:.5em}

#links li.language a:after,#project-description a:after,.readmore:after,[data-filter]:after{
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    background-color:#000;
    left:0;
    bottom:.2em;
    transition:all .3s ease}

#links li a,.grid li,.grid li a{
    position:relative}

#project-description a:after{
    bottom:-.08em}

#links li{
    display:inline-block;
    margin-right:.75em}

#links li:last-of-type{
    margin-right:0}

#links li a{
    padding:.4em 0}

#links li.language a:after,#links li.language a:before{
    opacity:0;
    -webkit-transform:translateY(.2em);
    -ms-transform:translateY(.2em);
    transform:translateY(.2em)}

#links li:nth-of-type(n+2){display:none}

#links li.language a.active:after,#links li.language a:hover:after,.readmore:hover:after{
    opacity:1;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)}

#links li a.about{
    color:#000;
    display:inline-block;
    margin-bottom:.55em;
    margin-left:-.4em;
    padding:0;
    -webkit-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out}

#links li a.about svg{
    fill:none;
    stroke:#000;
    stroke-width:.075em;
    -webkit-transition:all .5s ease;
    -ms-transition:all .5s ease;
    transition:all .5s ease}

#links li a.about circle,#links li a.about line{
    -webkit-transform-origin:center center;
    -ms-transform-origin:center center;
    transform-origin:center center;
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-transition:transform .3s ease,stroke-width .3s ease;
    -ms-transition:transform .3s ease,stroke-width .3s ease;
    transition:transform .3s ease,stroke-width .3s ease}

#links li a.about.active line,#links li a.about:hover line{
    stroke-width:.15em;
    -webkit-transform:scale(.5,.5);
    -ms-transform:scale(.5,.5);
    transform:scale(.5,.5)}

#links li a.about.active circle,#links li a.about:hover circle{
    stroke-width:.04em;
    -webkit-transform:scale(1.8,1.8);
    -ms-transform:scale(1.8,1.8);
    transform:scale(1.8,1.8)}

#links li a.about.active svg{
    -webkit-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    transform:rotate(135deg)}

table{
    margin-top:1em;
    margin-bottom:.6em;
    border-collapse:collapse;
    border-spacing:0}

table td{
    vertical-align:top;
    padding:0}

table td:first-of-type{
    opacity:.5;width:5em}

table td:first-of-type:after{
    content:':'}

main{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:calc(100% - 5em);
    float:right;
    margin-top:.85em;
    margin-right:.7em}

.grid li,.slide{
    float:left;
    width:100%}

.is-loading .grid .project.clicked a h2.title{
    opacity:1;
    visibility:visible}

.is-loading .grid .project:not(.clicked){
    opacity:0;
    visibility:hidden}

.grid{margin:0}

.grid li a{
    display:block;
    margin:.95em 1em}

.grid li:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
    margin:1em;
    background-color:#bbb;
    opacity:1;
    visibility:visible;
    transition:visibility 0s linear 0s,opacity .3s;
    -webkit-animation:pulse 1s infinite alternate;
    animation:pulse 1s infinite alternate}

.slide,.slider{
    position:relative}

.grid li.loaded:after{
    opacity:0;
    visibility:hidden;
    transition:visibility 0s linear .3s,opacity .3s;
    -webkit-animation:none;
    animation:none;
    background-color:#bbb}

.grid .thumb{
    width:100%;
    height:100%;
    background: #fff;
/*
    box-shadow: 0 2px 44px 0 rgba(0,0,0,1);
    border-radius: 10px;
*/
    -o-object-fit:cover;
    object-fit:cover}

.grid .project article{
    overflow:hidden;
    position:relative}

.grid li.landscape article{
    height:100vw;
 }

.grid li.portrait article{
    height:120vw}

.slider{
    margin:1em 0 0;
    padding:0 1em}

.slide{
    background:#000;
    margin-bottom:1.9em;
    overflow:hidden;
    height:0;
    padding-bottom:69%;
    display:inline-block;
    -webkit-animation:pulse 1s infinite alternate;
    animation:pulse 1s infinite alternate}

.slide.loaded{
    -webkit-animation:none;animation:none}

.slide *{min-width:100%;min-height:100%;object-fit:cover;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}

.slide.portrait{width:calc(50% - 1em);padding-bottom:69%}

.related a:before,

.slide video{width:100%;height:100%}
.slide.portrait.left{margin-right:2em;clear:right}
.slide.portrait.right{float:right}
.slide:last-child{margin-bottom:1em}
.slide .lazy{opacity:0;transition:opacity .4s ease}
.slide.loaded .lazy{opacity:1}
aside{display:none;clear:both}
aside h3{margin:.5em}
.related{display:flex;margin:0}
.related li{padding:1em;display:inline-block;max-width:50%}
.related a{display:block;position:relative}
.related a:before{content:"";display:block;background:#fff;position:absolute;opacity:0;transition:opacity .3s ease;z-index:100}
.related a:hover:before{opacity:.2}
.related img,.related video{width:auto;height:auto;max-height:25vw;-o-object-fit:contain;object-fit:contain;opacity:1}

#about{padding-left:1em;display:block}

#hello{
    font-size:5em;
    margin-left:-1vw;
    margin-top:.05em;
    transition:all .3s ease}

#hello:after,#lists:after,#presentation:after{
    content:"";
    display:block;
    background-color:#000;
    height:1px;
    width:.51em;
    margin-left:1vw}

#hello:after{
    margin-top:.15em}

#lists:after,#presentation:after{
    width:10vw;
    margin-top:2em;
    margin-left:0}

#hello span{
    line-height:.8em;
    display:inline-block;
    -webkit-animation:bounce 1s both;
    animation:bounce 1s both;
    -webkit-transform-origin:center bottom;
    transform-origin:center bottom}

#hello span.restartanim{-webkit-animation:none;animation:none;animation-delay:0s;-webkit-animation-delay:0s}#hello span:nth-of-type(2){animation-delay:.05s;-webkit-animation-delay:.05s}#hello span:nth-of-type(3){animation-delay:.1s;-webkit-animation-delay:.1s}#hello span:nth-of-type(4){animation-delay:.15s;-webkit-animation-delay:.15s}#hello span:nth-of-type(5){animation-delay:.2s;-webkit-animation-delay:.2s}#hello span:nth-of-type(6){animation-delay:.25s;-webkit-animation-delay:.25s}#hello.no-delay span{animation-delay:0s;-webkit-animation-delay:0s}#presentation:after{display:none}

#about article{display:flex;flex-wrap:wrap;height:100%;margin-top:2em}

#error article p,#presentation{font-size:1.5em;line-height:1.3em;padding-right:.5em}

#presentation header p:first-of-type{margin-top:0}

#lists{width:100%;margin-bottom:1em}

#lists section{margin-bottom:.5em;display:inline-block;vertical-align:top;width:100%}

#lists h2{font-size:1.8em}

#lists li{font-size:1.2em;line-height:1.5em}

#about footer{padding-left:0;width:100%}

#error article{max-width:60em;padding-left:1em;padding-right:.7em}

#error .videoWrapper{position:relative;padding-bottom:75%;height:0;margin-top:3em;margin-bottom:.5em}

#error .videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}

footer{padding:0 .7em 0 1em;display:flex;flex-wrap:wrap;margin-top:2em}

footer section{
    position:relative;
    margin-bottom:2em;
    width:calc(100% - 2em)}
footer section ul{margin:0}

.slider footer{padding:0}

h3{font-size:1.8em;margin-top:0}
footer form{white-space:nowrap;width:100%}
footer input{background:0 0;border:1px solid #333;height:2.65em;padding:.65em 1em;vertical-align:top}
footer input.email{max-width:18em;width:80%}
footer input.button{margin-left:-1px;cursor:pointer;transition:all .1s ease}
footer input.button:hover{color:#fff;background-color:#000}
.address{margin:0}
.arrow{position:relative;width:3em;height:3em;margin-top:4em;padding:0;flex:1;margin-right:-.5em}
footer .arrow{display:block}
.arrow svg{height:2.8em;fill:none;stroke:#000;stroke-width:1px;position:absolute;top:0;right:.5em}
.arrow path{transition:transform .3s ease;-webkit-transform:translateY(.4em);-ms-transform:translateY(.4em);transform:translateY(.4em)}

.arrow:hover path{
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)}




@media only screen and (min-height:28em) and (max-width:48em){
    .slide.portrait{
        width:100%;padding-bottom:140%}
    .slide.portrait.left{
        margin-right:0}}

@media only screen and (min-width:20em){
    .logo{width:30px;
        top:0em;}
    .grid li.landscape article{
        height:54vw;
        box-shadow: 0 2px 44px 0 rgba(0,0,0,.1);
        border-radius: 10px;}
    .grid li.portrait article{
        height:110vw; 
        box-shadow: 0 2px 44px 0 rgba(0,0,0,.1);
        border-radius: 10px;}}

@media only screen and (min-width:26em){
    .grid li.landscape article{
        height:56vw;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,.1);
        border-radius: 10px;}
    .grid li.portrait article{
        height:114vw;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,.1);
        border-radius: 10px;}}

@media only screen and (min-width:34em){
    .grid li{width:50%}
    .footer section{width:100%}
    .grid li.landscape article{
        height:28vw;
        box-shadow: 0 2px 44px 0 rgba(0,0,0,.1);
        border-radius: 10px;}
    .grid li.portrait article{
        height:calc(56vw + 1.9em);
        box-shadow: 0 2px 44px 0 rgba(0,0,0,.1);
        border-radius: 10px;}
    footer .arrow{display:none}
    #clients,#feats,#skills,#team li{width:32%}
    #error article p,#presentation{font-size:1.75em;padding-right:.5em}
    #hello{font-size:7em;line-height:1em;margin-top:.3em}
    #hello:after{margin-top:.3em;margin-bottom:.35em}
}

@media only screen and (min-width:40em){
    #lists section{width:48%}
    #error article p,#presentation{font-size:2.2em}
    #error article{padding-right:1.5em}
    #hello{font-size:10em;line-height:.8em;margin-top:.23em}
    #hello:after{margin-top:.25em;margin-bottom:.2em}
}

@media only screen and (min-width:43em){
    footer .arrow{display:block}}

@media only screen and (min-width:48em){
    .logo{
        width:60px;
        font-size:4em;
        top:0.45em;
        left:.5em;}
    .title{
        font-size:1.2em;
        top:12em;
        left:12.5em;}
    .title [data-text],.title [data-text]:after{
        color:#000;
        overflow:visible;
        white-space:normal;
        text-overflow:clip;
        min-width:8.5em;
        line-height:1em}
    .logo.outline [data-text]{width:auto}
    .logo.outline a:hover [data-text]:after{
        display:inline-block;
        color:#000;}
    p.logo [data-text]:before{
        content:'';
        position:absolute;
        overflow:hidden;
        width:.6em;
        height:.6em;
        margin-top:.2em;
        margin-left:-.7em;
    }
    
    [data-text],[data-text]:after{color:#000}
    
    #header{width:28%}main{width:72%}
    
/*
    .project-header{bottom:4em;left:0;width:28%;height:auto;padding:1em 2em;margin-bottom:2em}
    
    #project-description{
        padding:2em 1.7em 2em .3em;
        position:fixed;
        top:0;
        left:28%}
*/
    
    #links{margin-bottom:.75em}
    
    #links li a.about{margin-bottom:0;margin-left:0}
    
    .logo.outline{-webkit-transform:none;-ms-transform:none;transform:none}
    
    .grid a:hover h2.title{opacity:1;visibility:visible}
    
    .infoToggle{position:fixed;display:inline-block;padding:.4em 0;-webkit-transform:none;-ms-transform:none;transform:none;bottom:2.85em;left:11em;margin-left:0;transition:color .2s ease}
    
    .slide{cursor:pointer}
    
    .slide.portrait.left{margin-right:0;margin-bottom:0}
    
    .slide:last-child{margin-bottom:2.8em}aside{display:block}
    
    ul.grid li.landscape article{height:23vw}
    ul.grid li.portrait article{height:calc(46vw + 1.9em)}
    
    #links li:nth-of-type(n+2){display:inline}#hello{font-size:14em;line-height:.8em;margin-left:-10px}#hello:after{margin-left:10px}#lists:after{width:7em}footer .arrow{display:none}}

@media only screen and (min-width:48em) and (min-height:39em){
    .logo{
        width:60px;
        font-size:4em;
        top:0.45em}
    .title{
        font-size:1.2em;
        top:12em;
        left:12.5em;}
    .logo{left:1.55em}
    .title [data-text],.title [data-text]:after{
        overflow:visible;
        white-space:normal;
        text-overflow:clip;
        min-width:8.5em;
        line-height:1em}
}

@media only screen and (min-width:48em) and (min-height:45em),only screen and (min-width:60em) and (min-height:34em),only screen and (min-width:100em) and (min-height:29em){
    #description{
        font-family: 'Pragati Narrow', sans-serif;
        font-size:2em;
        line-height:1.5em;
        max-width:12em;
        display:block;
        margin:.7em 0}}

@media only screen and (min-width:48em) and (min-height:48em){.site #project-description{padding:2em 1.7em 1.2em 2em;visibility:visible;opacity:1;transition:all .3s ease;position:absolute;left:0;max-width:32em;animation-name:fadeIn;-webkit-animation-name:fadeIn}.infoToggle{display:none}
        
    
    .project-header p{font-size:1.2em}}@media only screen and (min-width:54em){footer .arrow{display:block}}

@media only screen and (min-width:64em){#description span.shorten{display:inline}}@media only screen and (min-width:72em){
    #error article p,#presentation{font-size:2.5em}
    ul.grid li{width:33.33%}
    ul.grid li.landscape article{height:15.2vw}
    ul.grid li.portrait article{height:calc(30.4vw + 1.9em)}}

@media only screen and (min-width:72em) and (min-height:48em){
    main{margin-top:2em}
    .logo{width:60px;font-size:4em;top:0.45em}
    .title{
        font-size:1.2em;
        top:12em;
        left:12.5em;}
    .logo{left:5.25em}
    }

@media only screen and (min-width:78em){
    .logo{width:60px;font-size:4em;top:0.45em}
    footer{flex-wrap:nowrap;justify-content:space-between}
    footer section{width:100%}
    footer .arrow{flex:0}
    #lists:after{width:9em}
    #lists{width:100%;
        white-space:nowrap;
        padding-right:1em}
    #lists section{
        display:inline-block;
        vertical-align:top;
        width:34%}
    #error article p,#presentation{font-size:2.65em}
}

@media only screen and (min-width:100em){
    #about article{display:flex;flex-wrap:wrap}
    #presentation{flex:1;padding-right:1.25em}
    #presentation:after{
        display:block;
        width:3.2em;
        margin-top:1.5em;
        margin-bottom:.35em}
    #error article{
        max-width:76em}
    #error article p,#presentation{
        font-size:3.1em;
        line-height:1.3em}
    #lists{display:flex;
        flex-direction:column;
        flex:0;
        justify-content:
            flex-start;
        padding-right:2em}
    #lists h2{margin-top:.5em}
    #lists:after{display:none}}

@media only screen and (min-width:100em)and (min-height:48em){#hello{font-size:18em;margin-top:.24em}@media only screen and (min-width:110em){#error article p,#presentation{font-size:3.2em}#lists h2{margin-top:.75em}}}







